:root{
  /* colors */
  --red-dark:#780000;
  --red-light:#C1121F;
  --cream:#FDF0D5;
  --blue-dark:#003049;
  --blue-light:#669BBC;

  /* font-familys */
  --ff-roboto:"Roboto", sans-serif;
  --ff-space-grotesk:"Space Grotesk", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100dvh;
  font-family: var(--ff-roboto);
}

#root{
  display: grid;
  grid-template-rows: 80px 1fr;
  gap: 2rem;
  height: 100%;
  padding: 0 2rem;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;

}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--ff-space-grotesk);
}

h2{
  color: var(--blue-dark);
}

h2 span{
  color: black;
}

#root, #__next {
  isolation: isolate;
}
svg{
  width: 20px;
}

header{

  display: flex;
  align-items: center;
}

header span{
  color: var(--blue-dark);
}

main{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;

}

aside{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside h3{
  color: var(--blue-light);
}


aside form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burger-menu{
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: white;
}

.burger-menu:hover{
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.burger-menu:active{
  background-color: rgb(236, 236, 236);
}


.dropdown-content.active{
  animation: drop-down 200ms ease-in-out;
  transform-origin: top;
  will-change: transform;
}

@keyframes drop-down{
  from{
    transform: scaleY(0);

  }
  to{
    transform: scaleY(1);
  }
}

input{
  appearance: none;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--blue-dark);
  background-color: var(--cream);
  padding: 5px 10px;

}

.buttons-container{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.buttons-container button{
  padding: 10px 2rem;
  border-radius: 5px;
  border: none;
}

.buttons-container button:first-child{
  background-color: var(--red-light);
}

.buttons-container button:first-child,
.buttons-container button:last-child{
  color: white;
  transition: 200ms transform ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

.buttons-container button:last-child:hover,
.buttons-container button:first-child:hover{
  transform: translate(-3%, -3%);
  cursor: pointer;
}

.buttons-container button:last-child:active,
.buttons-container button:first-child:active{
  transform: translate(0, 0);
}

.buttons-container button:last-child{
  background-color: var(--blue-light);
}

.cv-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}




article{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  max-width: 600px;
  padding: 2rem;
  border: 1px solid black;

}

.cv-side-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contacts{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

address{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

address div{
  display: flex;
  gap: 10px;
}

.education{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacts h4,
.education h4{
  border-bottom:1px solid var(--blue-dark);

  white-space: nowrap;
}

.cv-main{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cv-main h3{
  font-size: 2rem;
}

.cv-main h3 span{
  color: var(--blue-dark);
}

.user-heading p{
  font-style: italic;
  font-weight: 200;
}
.cv-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv-content h4{
  border-bottom: 1px solid var(--blue-dark);

  white-space: nowrap;
}

.previous-company{
  color: var(--blue-dark);
  font-weight: 700;
}


@media(max-width:1500px) and (min-width:768px){
  main{
    grid-template-columns: 1fr;
    width: 70%;
    justify-self: center;
  }

  aside{
    justify-self: center;
  }
}

@media(max-width:767px){
  main{
    grid-template-columns: 1fr;
    justify-self: center;
  }

  aside{
    justify-self: center;
  }
}